.usingflex {
  display: flex;  
  flex-flow: row wrap;
}

.usingflex > * {
  padding: 10px;
  flex: 2 100%;
}

.box1 {
  background: tomato;
  order: 1;
  flex: 2 0px;
}

.box2 {
  background: lightgreen;
  order: 2;
  flex: 2 0px;
}

.box3 {
  text-align: left;
  background: deepskyblue;
   order: 3;
}

.box4 {
  background: gold;
  order: 1;
}

.box5 {
  background: hotpink;
  order: 3;
}
.box6{
    background:red ;
    order:5;
}

body {
  padding: 200px; 
}