body{
    box-sizing: border-box;
    overflow-x: hidden;
}
.two-parts{
    display: flex;
}
h2{
    text-align: center;
    font-size: 40px;
}
.list1{
    display: flex;
    list-style: none;
    padding-left: 495px;
    gap: 60px;
}
.hr-line{
    height: 0.1px;
    background-color: rgb(75, 73, 73);
    opacity: 0.3;
}
.left-side{
    width: 55%;
    margin-left: 50px;
}
h4{
    font-size: 25px;
}
.para{
    font-size: 18px;
    margin-top: -20px;
}
h5{
    font-size: 25px;
}
.btn{
    padding: 10px 40px 10px 40px;
    background-color: rgb(127, 127, 227);
    border: none;
    border-radius: 1px;
    color: white;
    font-size: 18px;
}
.input{
    padding-right: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#clearBtn{
    padding: 10px 40px;
    background-color: white;
    color:rgb(127, 127, 227) ;
    border-color: rgb(127, 127, 227);
}
.remove-btn{
    padding: 7px 30px;
    background-color: white;
    color:rgb(127, 127, 227) ;
    border-color: rgb(127, 127, 227);
    margin-left: 295px;
}
.btn3{
    margin-top: 20px;
}
.right-side{
    padding-left: -50px;
}
.btn4{
    padding: 5px 110px 5px 110px;
    text-align: center;
}
/* form */

    .subtitle {
      font-size: 14px;
      color: #555;
    }

    .label1 {
      display: block;
      margin-top: 5px;
      font-weight: bold;
      font-size: 14px;
    }

    .inp, textarea {
      width: 100%;
      padding: 6px;
      margin-top: 5px;
      font-size: 14px;
    }

    textarea {
      resize: vertical;
      height: 80px;
    }

    .hint {
      font-size: 12px;
      color: #d9534f;
      margin-top: 3px;
    }

    .inline-group {
      margin-top: 10px;
      font-size: 14px;
    }

    .inline-group label {
      font-weight: normal;
      margin-right: 10px;
    }

    .buttons {
      margin-top: 20px;
    }

    button {
      padding: 6px 12px;
      margin-right: 8px;
      cursor: pointer;
    }

    .info {
      margin-top: 15px;
      font-size: 12px;
      color: #2a7a2a;
    }
  /* footer */
  .foot{
    text-align: center;
    margin-top: 20px;
  }