body{
    background-color: #470477;
    font-family: Verdana,Tahoma, sans-serif;
}
header{
    display: flex;
}
.logo {
    display: flex;
    width: 70px;
    position: relative;
    margin-left: 100px;

}
.heading{
    position: absolute;
    display: flex;
    font-size: 40px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 160px;

}
.n-bar{
    display: inline-flex;
    color: #ffffff;
    margin-top: 40px;
    margin-left: 240px;
    font-size: 18px;
    letter-spacing: 0.2px;
    
}
li{
    list-style: none;
    margin-left: 20px;
}
.btn1{
    background-color: #470477;
    font-size: 17px;
    color: #ffffff;
    border-radius: 28px;
    border: 2px solid orangered;
    margin: 30px 0px 0px 80px ;
    padding: 0px 30px;    
}
#main{
    margin-top: 150px;
}
.main1{
    margin-left: 100px;
}
h1{
    font-size: 60px;
    font-weight: bold;
    color: #ffffff;
    line-height: 90px;
}
p{
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    margin-top: -20px;
    
}
.btn2{
    font-size: 17px;
    border-radius: 28px;
    background-color: rgb(219, 85, 36);
    padding: 15px 30px;
    border: none;
    color: #ffffff;
    font-weight: bold;
}
.img2 img{
    width: 400px;
    display: flex;
    margin-left: 850px;
    margin-top: -350px;
}
.main3{
   background-color: #1a0636;
   height: 500px;
   margin-top: -43px;
}
.main3 p{
    color: white;
    font-size: 20px;
}
/* TABLE SECTION */
.table-section {
  background: #1a0636;
  padding: 100px 60px;
  color: white;
}
.table-section h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 50px;
}


table {
  width: 100%;
  border-collapse: collapse;
  color: rgb(249, 241, 241);
  font-size: 15px;
}
thead {
  color: #f8f8f8;
  font-size: 14px;
}
th,
td {
  padding: 14px 10px;
  text-align: left;
  border-bottom: 1px solid #daceea;
}
td img {
  width: 95px;
}
.green {
  color: rgb(6, 214, 6);
}
.red {
  color: red;
}

.logo-small {
  width: 25px;
  margin-right: 8px;
  padding: 10px;
  vertical-align: middle;
  border-radius: 50%;
}

.volume {
    font-size: 10px;
    font-weight: bold;
    margin-left: 60px;
    color: darkgray;
}

small{
       font-size: 10px;
    font-weight: bold;
      color: darkgray;
}

.icon {
    width: 40px;
    height: 40px;
    background: #c7c7c7;   /* same grey circle */
    border-radius: 50%;
    padding: 2px 5px;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: #2c1a74;        /* same dark purple 'i' */
    font-weight: 600;
    font-style: italic;
   
}